* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #96B1BD;
    color: #333;
}

h2{

    font-size: 30px;
    
}

h3{

    font-size: 30px;
    text-decoration: underline;
}

h4{

    font-size: 20px;
    text-decoration: underline;
}


#new_autofinish{

    margin: auto;
    text-align:center;
    background-color: #FBFBFB;
    margin-top: 10px;
    width: 90%;
    padding: 5px;
    display: none;
    align-content: stretch;
}

#autofinishleft {
    margin-top: 2%;
    
    width: 65%;
    margin-right: 1%;

}
#autofinishright {
  
    width: 34%;
    border-left: 6px solid #f2b593;
    padding: 5px;
    
    text-align: left;
    
}

#wordlist{
    overflow-y: scroll;
    padding: 5px;
    max-height: 300px;
}

#word_input{
    margin: auto;
    height: 30px;
    width: 30%;
    margin-top: 5px;


}
#word_submit{
    margin: auto;
    margin-top: 5px;
    padding: 1px;
    width: 30%;
    
    background-color: #F2A073;
}

.commentsection{
   margin: auto;
    margin-top: 5px;
    text-align: center;
  width: 98%;
  background-color: #f2b593;
    

}

.see_comments{
   
    margin: auto;
    margin-bottom: 5px;
    color: #333;
    width: 100%;
    padding: 5px;
    font-weight: bold;
      

}
.commentlist{
    display: block;
    margin: auto;
   width: 95%;

 
}
.comment{
    overflow-y: auto;
margin: auto;
   font-size: 15px;
   font-weight: bold;
    background-color: #FBFBFB;
   width: 100%;
    height: 50px;
    margin-bottom: 5px;
    padding: 1px;

}
.comment_input{
    
    margin: auto;
    margin-bottom: 5px;
    width: 70%;
}

.send_comment{
    
     margin: auto;
    background-color: #333;
    width: 30%;
    padding: 5px;
    color: #FBFBFB;
    font-weight: bold;
    text-align: center;

}

.remove_commentsection{
    margin: auto;
    margin-top: 5px;
    width:100%;
    font-weight: bold;
    color: red;
}

/* submit.hmtl specific*/
#new_category{
    margin: auto;
    text-align:center;
    background-color: #FBFBFB;
    margin-top: 10px;
    width: 90%;
    padding: 5px;
    display: none;
}

#newcategory_input{
    margin: auto;
    height: 30px;
    width: 30%;
    margin-top: 5px;


}
#submit_newcategory{
    margin: auto;
    margin-top: 5px;
    padding: 1px;
    width: 30%;
    
    background-color: #F2A073;
}

#postblog{
    text-align:left;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    padding: 5px;
    background-color: #FBFBFB;

}
#title{


}
#title_input{ 
    margin: auto;
    margin-top: 1px;
     margin-bottom: 10px;
    width: 100%;
    height: 5%;
}

#categories_input{
    margin-top: 10px;
     margin-bottom: 10px;
    margin: auto;
    width: 20%;
   
}
#postmessage{
    text-align:center;
    font-size: 30px;
    display: none;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    
    padding: 5px;
    background-color: #FBFBFB;

}

#postnew_category{

text-align:center;
    font-size: 30px;
    display: none;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    
    padding: 5px;
    background-color: #FBFBFB;
}

#blog_submit{
    margin-top: 10px;
    background:none;
    border: none;
    background-color: #F2A073;
    margin-top: 10px;
    margin: auto;
    width: 30%;

}

#postblog textarea{

    width: 100%;
    height: 25%;
}

/* Header/Blog Title */
#header {
    padding: 5px;
    font-size: 25px;
    text-align: center;
    background: #FBFBFB;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #61646C;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #FBFBFB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #F2A073;
    color: black;
}


#topbar  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 20px;
    
}

#topbar li {
    float: left;
    cursor: pointer;
}

#topbar li a, .dropbtn {
    display: inline-block;
    color: #FBFBFB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

#topbar li a:hover, .dropdown:hover .dropbtn {
    background-color: #F2A073;
}

#topbar li.dropdown {
    display: inline-block;


}

#topbar  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FBFBFB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#topbar  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

#topbar  .dropdown-content a:hover {background-color: #F2A073;}

#topbar .dropdown:hover .dropdown-content {
    display: block;
}

#newpostlink{

    background-color: #F2A073;
}
#navbar_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 20px;
}

.row{

    margin-top: 20px;
}
.leftcolumn {   
    float: left;
    width: 75%;
 
}

/* Right column */
.rightcolumn {
    float: left;
    width: 24%;
    margin-left: 1%;
    background-color: #FBFBFB; 
    padding: 5px;
    padding-top:20px;
}



.sidebar_category {
    background-color: #F2A073;
    width: 100%;
    height: 10%;
    margin-top: 5px;
    padding: 2px;
    font-size: 1em;
    font-weight: bold;
}



/* Add a card effect for articles */


#card_categories {
    
     
     margin-top: 20px;
}
#card_aboutme {
    
     
     
}

.card_blog {
     background-color: #F2A073;
     text-align:center;
     margin-bottom: 20px;
     padding: 1%;
     overflow: auto;
     
}

.card_title{
   
    text-align: center;
   
}

.blog_title_line{
    margin: auto;
    margin-top: 5px;
    background-color: #333;
    color: #FBFBFB;
   width: 98%;
    height: 40px;
    font-size: 25px;
    padding-top: 5px;



}
.blog_category_line{
    margin: auto;
     width: 98%;
   background-color: #F2A073;
     color: #333;
    padding: 2px ;
    font-weight: bold;

}

.card_content{ 
    margin: auto;
    text-align: left;
    background-color: #FBFBFB;
 padding: 5px;
 width: 98%;
overflow: auto;
 
}
.commentlist {
    list-style: none;
    text-align: left;
}

.remove_commentsection{
margin: auto;
padding: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background: #FBFBFB;
    margin-top: 20px;
}



#images_links {
    margin-top: 5px;
    margin: auto;
width: 960px;
height: auto;
overflow: hidden;
}
#images_links a {
display: inline;
margin: 0 10px;}

a:link {
    text-decoration: none;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .topnav a {
        float: none;
        width:100%;
    }
}